
.benner{
    display: flex;
    background-color:rgba(10, 53, 243, 0.699);

    
}
h1{
    font-size: 80px;
    color: whitesmoke;
    margin-left: 15%;
}
a{
    color: whitesmoke;
    font-size: 25px;
    margin-left: 15%;
    text-decoration: none;
    background-color: rgb(241, 48, 14);
    border-radius:3px;
}


img{
    width: 700px;
    height: 500px;
    margin-top: 20px;
    
}
/* ----------------- */

.players{
    display: grid;
    background: rgb(243, 242, 240);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
   
    
    
}
.player img{
    width: 400px;
    height: 300px;
}
.player-img{
     margin-left: 40px;
    border-radius: 15px;
 
}
.player{
    border:5px solid wheat;
    margin-top: 20px;
    border-radius: 10px;
    
    
  
}
.player-name{
    padding-left: 10px;
}
/* -------------- */
.highlights-info{
    display: flex;
}
#highlights{
    color: black;
}



 /* ---------- */
 .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height: 100px;
  }
  footer{
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      width: 300px;
  }
  
  
